.table-container {
  width: 90%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
  padding: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.header-heading {
  font-size: 1.5em;
  margin: 0;
}

.add-new-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.add-new-link {
  background-color: #fdfdfd;
  color: #007bff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.add-new-link:hover {
  background-color: #007bff;
  color: #ffffff;
}

.table-wrapper {
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #007bff;
}

.view-link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.view-link:hover {
  text-decoration: underline;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.pagination-button:hover {
  color: black;
}

.pagination-button:disabled {
  color: rgb(170, 166, 166);
  cursor: default; /* Shows a not-allowed cursor */
}

.pagination-info {
  font-size: 16px;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .search-input {
    font-size: 0.8em;
    width: 150px;
  }
  .header-heading {
    font-size: 1.2em;
  }
  .styled-table th, .styled-table td {
    font-size: 0.8em;
  }
  .table-container {
    padding: 10px;
  }
}
